.Rproj.user
.Rhistory
.RData
.Ruserdata


GIT COMANDOS.qmd       
miRNA.Rproj                
miRNA_steatosis.qmd                               
mRNAs_targets_multiMiR_DatabasesUpdated.qmd   
mRNA_targets_get_databases.qmd   
Spectofotometro
isomiRs_example.Rmd     
mirnas                    
mRNA targets of miR-520d-5p and miR-655-3p.qmd 
mRNAs_targets_multiMiR.qmd                    
README.md                        
ssh_mirna
miRNA_allMetadata.qmd   
mirnas.pub                 
mRNAs_targets_multiMiR_DatabasesUpdated.html      
mRNAs_targets_multiMiR_Steatosis.qmd          
respaldo.R                       
ssh_mirna.pub
miRNA_recover.qmd       
miRNAs_sex+steatosis.qmd   
mRNAs_targets_multiMiR_DatabasesUpdated.pdf       
mRNAs_targets_multiMiR_Steatosis.rmarkdown    
samples_mirna.txt     
References/
Revisiones/
qPCR/         